*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    --purple: #7f5af0;
    --white: #fffffe;
    --grey: #94a1b2;
    --black: #16161a;
    --black2: #010101;
}

html {
    font-size: 16px;
    background-color: black;
    color: var(--white);
    overflow-x: hidden;
}

button {
    background-color: var(--purple);
    color: var(--white);
}

h1, h2 {
    color: var(--white);
}

h2 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

a:hover {
    color: var(--purple);
}

p {
    letter-spacing: 0.6px;
}

span:hover {
    color: var(--purple);
}

.Header {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--grey);
    position: sticky;
    top: 0;
}

.Logo {
    display: flex;
    align-items: center;
    height: 80%;
    width: auto;
}

.MainMenu {
    display: flex;
    align-items: center;
    height: 100%;
}

.MainMenuList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.MainMenuItem {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 3vw;
    padding-right: 3vw;
}

.MainMenuItem:nth-child(3) {
    padding-left: 0vw;
    padding-right: 0vw;
}

.MainMenuLink {
    font-size: 1.5rem;
}

.RightNav {
    display: flex;
    align-items: center;
    height: 100%;
}

.MyAccount {
    margin-right: 1.5vw;
}

.MyAccountLink {
}

.MyAccountImg {
}

.SignOut {
    margin-right: 1.5vw;
}

.SignOutLink {
}

#data-conectarii {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.DropDown {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.Container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--purple);
    border-radius: 10px;
    height: 80%;
}

.ContainerUp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.Avatar {
    width: 25%;
    border-radius: 40%;
}

.Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.Email {
    font-size: 1.5rem;
    line-height: 1.2;
}

.change_password {
    width: 100%;
    height: 20%;
}

#changepassword {
    width: 100%;
    height: 80%;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: var(--black);
    border: var(--purple) 1px solid;
    cursor: pointer;
}

.delete_account {
    width: 100%;
    height: 20%;
}

#deleteaccount {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--black);
    border: 1px solid var(--purple);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.flex label {
    margin-left: -20px;
}

.ReviewAppForm p {
    font-size: 1.2rem;
}


@media screen and (max-width: 1200px) {
    .Container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 700px) {
    .MainMenuList li:nth-child(1) {
        display: none;
    }

    .MainMenuList li:nth-child(2) {
        display: none;
    }

    .RightNav {
        display: none;
    }

    .DropDown {
        display: block;
        position: relative;
    }

    .DropDownButton {
        display: block;
        border: none;
        outline: none;
        background-color: inherit;
        margin: 0;
        cursor: pointer;
        color: var(--white);
        font-size: 1.5rem;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .DropDownContent {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
        background-color: var(--grey);
        margin-top: 5px;
        font-size: 0.8rem;
        border-radius: 10px;
    }

    .DropDownContent a {
        display: block;
        position: relative;
        text-align: center;
        padding: 12px 16px;
        text-decoration: none;
    }

    .DropDownContent a:hover {
        color: var(--purple);
    }

    .DropDown:hover .DropDownContent {
        display: block;
    }

    .Container {
        font-size: 0.8rem;
    }

    .Username p:nth-child(1) {
        font-size: 1rem;
        line-height: 1.2;
    }

    .email p:nth-child(1) {
        font-size: 1rem;
        line-height: 1.2;
    }

    .Description {
        height: 30%;
    }

    .DescriptionInput {
        height: 40%;
    }

}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--purple);
}
          