<div class="container">
  <h1>Sign Up</h1>

  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent">
      <mat-label>Password Confirmation</mat-label>
      <input matInput type="password" formControlName="passwordConfirmation">
    </mat-form-field>

    <p *ngIf="emailAlreadyTaken" appError>Email is already taken.</p>

    <button mat-raised-button color="accent" [disabled]="formGroup.invalid" (click)="signup()">Sign Up</button>
  </form>
</div>
