<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hutan Mihai">
    <link rel="stylesheet" type="text/css" href="../static/css/error_page.css">
    <link rel="shortcut icon" href="../static/img/shortcut-icon.jpg">
    <title>Cinemix</title>
</head>
<body>
<header class="Header">
    <a class="Logo" href="login" title="Back to homepage">
        <img class="LogoPicture" src="../static/img/logo.jpg" alt="Cinemix Logo"/>
    </a>
</header>
<main>
    <h1>
        THE LINK IS INCORRECT: 404 ERROR
    </h1>
</main>
</body>
</html> 