<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hutan Mihai">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="shortcut icon" href="../static/img/shortcut-icon.jpg">
    <title>Cinemix</title>
</head>
<body>
<header class="Header">
    <%- include("./partials/navbar") %>
</header>
<main>
    <section class="Hero">
        <img src="../static/img/BannerMarvel.webp" alt="Banner Marvel">
        <div><h1>Cinemix<br>Movies News</h1></div>
    </section>
    <section class="Comunity" id="ComunityBox">
        <h2 id="Comunity">Oscars</h2>
        <div class="ComunityTextGroup">
            <p id="ComunityTextOne">

            <p id="ComunityTextTwo">

            </p>
        </div>
    </section>
    <section class="News">
        <h2 id="News">News</h2>
        <div class="NewsTextGroup">
            <p class="NewsTextOne">Tick, Tick... Boom! had its world premiere at the AFI Fest on November 10, 2021, and
                began a limited theatrical release two days later, before streaming on Netflix on November 19. The film
                received positive reviews for Garfield's performance and Miranda's direction. It was named one of the
                best films of 2021 by the American Film Institute, and was nominated for Best Motion Picture - Musical
                or Comedy at the 79th Golden Globe Awards, and Best Picture at the 27th Critics' Choice Awards. For his
                performance, Garfield earned numerous awards, including the Golden Globe Award for Best Actor – Motion
                Picture Musical or Comedy, as well as a nomination for the Academy Award for Best Actor.</p>
            <p class="NewsTextTwo">The Power of the Dog had its world premiere at the 78th Venice International Film
                Festival on September 2, 2021, where Campion won the Silver Lion for Best Direction. The film had a
                limited theatrical release in November 2021, and was released to stream worldwide on Netflix on December
                1, 2021. It has received many accolades, including a leading 12 nominations at the 94th Academy Awards,
                among them Best Picture, Best Director for Campion, Best Actor for Cumberbatch, Best Supporting Actor
                for both Plemons and Smit-McPhee, and Best Supporting Actress for Dunst. It was named one of the best
                films of 2021 by the American Film Institute, and received seven nominations at the 79th Golden Globe
                Awards, winning Best Motion Picture – Drama, Best Supporting Actor – Motion Picture for Smit-McPhee,
                Best Director for Campion. It received ten nominations at the 27th Critics' Choice Awards, winning four,
                including Best Picture.</p>
            <p class="NewsTextThree">The Hand of God (Italian: È stata la mano di Dio, i.e. It was the hand of God) is a
                2021 Italian drama film written, directed, and produced by Paolo Sorrentino. It stars Filippo Scotti,
                Toni Servillo, Teresa Saponangelo, Marlon Joubert, Luisa Ranieri, Renato Carpentieri, Massimiliano
                Gallo, Betti Pedrazzi, Biagio Manna, and Ciro Capano. The film refers autobiographically to Sorrentino's
                youth in Naples. It competed for the Golden Lion at the 78th Venice International Film Festival where it
                won the Grand Jury Prize and where Filippo Scotti received the Marcello Mastroianni Award. It was
                released in a limited release on 24 November 2021, followed by streaming on Netflix on 15 December 2021.
                It was nominated for the Best International Feature Film at the 94th Academy Awards.</p>
            <img src="../static/img/ticktickboom.webp" alt="Tick Tick Boom">
            <img src="../static/img/don'tlookup.webp" alt="Don't look up">
            <img src="../static/img/thepowerofdog.webp" alt="The Power of Dog">
            <img src="../static/img/gemmehome.webp" alt="Get Me Home">
            <img src="../static/img/audible.webp" alt="Audible">
            <img src="../static/img/thehandofgod.webp" alt="The Hand of God">
        </div>
    </section>
    <section class="Gallery">
        <h2 id="Gallery">Gallery</h2>
        <div class="GalleryContainer">
            <img src="../static/img/1.webp" alt="Bad Boys">
            <img src="../static/img/2.webp" alt="Vikings">
            <img src="../static/img/3.webp" alt="Peaky Blinders">
            <img src="../static/img/4.webp" alt="Suits">
            <img src="../static/img/5.webp" alt="Lost in Space">
            <img src="../static/img/6.webp" alt="Narcos">
        </div>
    </section>

</main>
<%- include("./partials/footer") %>
<script src="../static/js/index.js"></script>
<script src="../static/js/shared.js"></script>
</body>
</html>    