.Pimportant{
    color:red

}

.Pimportant2{
    color: rgb(66, 13, 13)
}

.div1{
    background-color: red;
    width: 100px;
    height: 50px;
    margin-bottom: auto;

    padding:50px;

}

.div2{
    color: black;
    width: 100px;
    height: 25px;

}