<h1>Menu</h1>

<ul>
  <li *ngFor="let product of products; index as i">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{product.name}}  <span *ngIf="product.tag"> #{{product.tag}}</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let ingredient of product.ingredients; index as j">
          <mat-chip-list>
            <mat-chip color="accent" selected>{{ingredient}}</mat-chip>
          </mat-chip-list>
        </div>
        <ng-container *ngIf="userCanEdit()">
          <a routerLink="/products/{{product.id!}}" mat-raised-button color="accent">Edit</a>
          <button mat-raised-button color="warn" (click)="deleteProduct(product.id!)">Delete
          </button>
        </ng-container>
      </mat-card-content>
      <mat-card-content class="variant">
        <p class="variant-p">Available in this Variant: {{product.variant.name}}
          , {{product.variant.size}}{{product.variant.unit}}</p>
      </mat-card-content>
    </mat-card>
  </li>
</ul>

<p *ngIf="products.length <= 0">
  <mat-card>
    <mat-card-title>You don't have any products.</mat-card-title>
  </mat-card>
</p>

<div *ngIf="userCanEdit()">
  <a routerLink="/products/new" mat-raised-button color="accent">Add Product</a>
</div>
